<section class="module module-narrow module-shallow">
  <h2 class="module-heading">What are Institutions?</h2>
  <div class="module-content">
    <p>Institutions are the research organizations, universities, and agencies that contribute data and products to the OBIS network. They are sourced from the organizations that are listed in dataset EML and then matched to Ocean Expert. If your insititution has published data to OBIS and isn't listed here, please check to see if the organization is also listed in <a href="https://oceanexpert.org/institutes">Ocean Expert</a>. If there is an Ocean Expert profile and the institution is not listed here, please contact the OBIS helpdesk: helpdesk@obis.org.</p>
    <p>Products can be tagged with one or more institutions to reflect all contributors.</p>
  </div>
</section>