# generic
.DS_Store
.vagrant

# code & config
_service-provider/*
_solr/schema.xml
local/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.env
.htpasswd
nginx/setup/ckan-local.crt
nginx/setup/ckan-local.key
