include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/odis *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/odis/migration *.ini *.py *.mako
recursive-include ckanext/odis/public *.*
